* {

}

body {
    font-family: 'Afacad', serif;
    font-size: 28px;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

header .socials {
    padding: 10px;
}

.name {
    display: inline-block;
    margin-right: 50px;
}

.link-items {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.link-items li {
    display: inline-block;
    margin-right: 75px;
}

.link-items a{
    color: black;
    text-align: center;
}

.section-accueil {
    margin-left: 50px;
}

.section-accueil p {
    width: 60%;
}

footer {
    background-color: rgb(25, 24, 24);
    color: rgb(199, 199, 199);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

footer li a {
    color: white;
}

.col-1,
.col-2,
.col-3 {
  flex: 1;
  margin: 0 10px;
}

.col-2 ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.col-2 li {
  width: 50%;
  margin: 0;
}

.socials a {
    color: transparent;
    margin: 5px;
}

.section-skills {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skill-items {
  width: 50%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-items li {
    background: #121e27;
    color: #ffff;
    padding: 0.25rem 0.7rem;
    margin: 0 0.25rem 1rem 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: inline-block;
}

.project-item img {
    transform: scale(0.85);
    max-width: 100%;
    border-radius: 10px;

}
.project-item p {
    font-size: 1.1rem;
    font-weight: 900;
    color: #fff;
}

.project-item {
    display: flex;
    flex-direction: row; 
    text-align: center;
    width: 900px;
    height: 300px;
    padding: 15px;
    border-radius: 30px;
    background: rgb(33, 33, 33);
    opacity: 1;
    margin: 50px;
}

.section-projects p {
    font-size: small;
    text-align: center;
}

.project-item button:hover {
    background-color: red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-item-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-item-link a {
    color: transparent;
    margin-top: 5px;
}

.button {
  border-radius: 48px;
  display: inline-block;
  padding: 10px;
  background-color: #7d7979;
  color: #fff;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;

  border: none;
  height: 50px;
  width: 50%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .10rem;
}

.button a {
    color: #fff;
}

.button:hover {
      background-color: #45a049;
}

.section-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

@media (max-width: 600px) {
    body {
        font-size: 16px; /* Adjust the font size for smaller screens */
    }

    header {
        flex-direction: column; /* Stack header items vertically on small screens */
        align-items: center;
        font-size: 1.3rem;
    }

    .name {
        font-size: 2rem;
        margin-right: 0; /* Remove margin for the name on small screens */
        margin-bottom: 10px; /* Add some space below the name on small screens */
    }

    .link-items li {
        margin-right: 10px; /* Remove margin for list items on small screens */
        margin-bottom: 10px; /* Add some space below list items on small screens */
    }

    .section-accueil {
        margin-left: 0; /* Remove left margin on small screens */
    }

    .section-accueil p {
        width: 100%; /* Make the paragraph full width on small screens */
    }

    .col-1,
    .col-2,
    .col-3 {
        flex: 1;
        margin: 0;
    }

    .col-2 li {
        width: 100%; /* Make list items full width on small screens */
    }

    .section-skills {
        align-items: center; /* Align skills to the center on small screens */
    }

    .skill-items {
        width: 100%; /* Make the skill items full width on small screens */
    }

    .section-projects {
        margin: 20px; /* Add margin to the project section on small screens */
    }

    .project-item {
        height: fit-content;
        width: 100%; /* Make the project item full width on small screens */
        margin: 20px 0; /* Add margin to project items on small screens */
        flex-direction: column; 
        padding: 5px;
    }

    .project-item button {
        width: 50%;
        height: 50%;
    }

    .project-item-link {
        margin-bottom: 10px;
    }

    .project-item img {
        height: 200px;
        width: 400px;
    }

    .button {
        width: 80%; /* Adjust the width of the button on small screens */
    }

    .section-cv,
    .section-contact {
        margin-bottom: 10%; /* Adjust the margin bottom for these sections on small screens */
    }
}
